
<p>Name of reviewer - <%= breview.user.name %></p>
<p>Rating - <%= breview.rating %> star ratings</p>
<p>Reviews - <%= breview.comment %></p>



<% if user_signed_in? %>
  <% if breview.user_id == current_user.id %>

    <button class="btn btn-default"><%= link_to "Edit", edit_bproduct_breview_path(breview.bproduct, breview) %></button>
    <button class="btn btn-default"><%= link_to "Delete", bproduct_breview_path(breview.bproduct, breview), method: :delete, data: {confirm: "Are you sure?"} %></button>

  <% end %>
<% end %>