<%= render("shared/topnav") %>

<div class="container">
  <div class="add_category">
    <div>

      <h1>Edit Review</h1>

      <%= simple_form_for([@bproduct, @breview]) do |f| %>
      <div class="form-group">
        <div class="mar">
            <%= f.label :rating %>
            <%= f.select :rating,[1,2,3,4,5],class:"form-control me-2" %>
        </div>

        <div class="mar">
          <%= f.label :comment %>
          <%= f.text_area :comment, class:"form-control", input_html: { autocomplete: "comment"} %>
        </div>
          <%= f.button :submit %><br />
          
          <%= link_to "Back", 'javascript:history.back()', class: "btn btn-outline-secondary" %>
       <% end %>
    </div>
  </div>
</div>
