<%= render("shared/topnav") %>

<h1 class="text-center"><%= pluralize(@products.count, "Result") %></h1>

<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@q, :name, "Name", default_order: :asc) %></th>
        <th><%= sort_link(@q, :price, "Price", default_order: :asc) %></th>
        <th><%= sort_link(@q, :category_id, "Category", default_order: :asc) %></th>
        <th><%= sort_link(@q, :condition_id, "Condition", default_order: :asc) %></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product|%>
        <tr>
          <th><%= link_to(product.name, product_path(product)) %></th>
          <th><%= product.price %></th>
          <th><%= product.category.name %></th>
          <th><%= product.condition.name %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Back", 'javascript:history.back()', class: "btn btn-outline-secondary" %>
</div>

<%= render("shared/footer") %>