<div class="card">
  <div class="card-body g-2">
  <%= simple_form_for @bproduct do |f| %>

	<% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bproduct.errors.count, "error") %> prohibited this Bproduct from being created:</h2>

        <ul>
          <% bproduct.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

	 <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control", required: true, input_html: { autocomplete: "name"} %>
  </div>

   <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :price %>
    <%= f.text_field :price, class:"form-control", required: true, input_html: { autocomplete: "price"} %>
  </div>

  <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :description %>
    <%= f.text_area :description, class:"form-control", required: true, input_html: { autocomplete: "description"} %>
  </div>

  <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :conditions %>
    <%= f.select :condition_id, options_for_select(@conditions.collect { |con| [con.name, con.id]}) %>
  </div>

  <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :categories %>
    <%= f.select :category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]}) %>
  </div>

  <div class="mar">
    <%= f.input :picture, as: "file", accept: "image/png,image/gif,image/jpeg,image/jpg", required: false %>
  </div>

  <div class="map-container">
    <div id="map"></div>
  </div>

  <%= f.button :submit, class: "btn btn-default" %>
  
<% end %>
</div>
</div>
