<%= render("shared/topnav") %>

<div class="container">
  <div class=".col-xs-12 .col-md-8">
    <div class="product-show">
        <p id="notice"><%= notice %></p>
        <div class="product-box">
          <div class="product-details">

            <h2><%= @bproduct.name %></h2>
            <p class="product-posted-by">Listed by <%= @bproduct.user.name %> | <%= time_ago_in_words(@bproduct.created_at) %> ago.</p>
            <p>Location: <%= @bproduct.location %></p>
            <p>Condition: <%= @bproduct.condition.name %></p>
            <p>Category: <%= @bproduct.category.name %></p>
            <p>Description: <%= @bproduct.description %></p>
            <h3>Price: <%= number_to_currency(@bproduct.price / 100.0) %></h3>


            <% if user_signed_in? && current_user != @bproduct.user %>
              <h5>Shipping: <%= number_to_currency(@delivery_cost) %></h5>
              <h5><%= @delivery_time %></h5>
            <% end %>
            <p class="product-posted-by">All currencies are $AUD</p>


            <% if user_signed_in? %>
              <% if @bproduct.user_id == current_user.id %>
                <%= link_to("Edit", edit_bproduct_path(@bproduct), class: "btn btn-default") %>
                <%= link_to("Delete", bproduct_path(@bproduct), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default") %>

                <% if @bproduct.breviews.count != 0 %>
                  <h2>Reviews</h2>
                  <%= render @bproduct.breviews %>
                <% end %>
              <% else %>

                <button data-stripe="payment" class="btn btn-default">Buy Now</button>
                <button class="btn btn-default"><%= link_to "Interest", smail_product_path %></button>
                <button class="btn btn-info text-uppercase mb-4" id="show-tel" ><i class="fas fa-phone mr-2"></i><%= @user.telephone %></button>
                <button class="btn btn-default"><%= link_to "Start Chatting", rooms_path %></button><br />

                <% if @bproduct.breviews.count != 0 %>
                  <h2>Reviews</h2>
                  <%= render @bproduct.breviews %>
                <% end %>
                
                <div>
                  <br /><button class="btn btn-default"><%= link_to "Add Review", new_bproduct_breview_path(@bproduct) %></button>
                </div>

                <script src="https://js.stripe.com/v3/"></script>

                <script>
                  document
                  .querySelector("[data-stripe='payment']")
                  .addEventListener("click", () => {
                    const stripe = Stripe(
                    "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
                    );

                    stripe.redirectToCheckout({
                    sessionId: "<%= @session_id %>"
                    });
                  });
                </script>
              <% end %>
            <% end %>
          </div>
    
          <div class="product-image-box">
            <% if @bproduct.picture.attached? %>
              <%= image_tag((@bproduct.picture), class: "image-box")%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
      
</div>

<button class="btn btn-default"><%= link_to "Back", 'javascript:history.back()', class: "btn btn-outline-secondary" %></button>

<%= render("shared/footer") %>


