<div class="card">
  <div class="card-body g-2">
  <%#= simple_form_for @product do |f| %>
  <%= form_with model: @product, url: products_path do |f| %>

	<% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being created:</h2>

        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

	 <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control", required: true %>
  </div>

   <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :price %>
    <%= f.text_field :price, class:"form-control", required: true %>
  </div>

  <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :description %>
    <%= f.text_area :description, class:"form-control", required: true %>
  </div>

  <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :conditions %>
    <%= f.select :condition_id, options_for_select(@conditions.collect { |con| [con.name, con.id]}) %>
  </div>

  <div class="mar">
    <span class="text-danger">*</span>
    <%= f.label :categories %>
    <%= f.select :category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]}) %>
  </div>

  <div class="mar">
    <span class="text-danger">*</span>
      <%= f.label :person %>
      <%= f.select :person, ["seller","buyer"] ,class:"form-control" %>
  </div>

  <div class="mar">
    <%#= f.input :picture, as: "file", accept: "image/png,image/gif,image/jpeg,image/jpg", required: false %>
      <%= f.label :photo %>
      <%= f.file_field :picture, :class => "form-control" %>
  </div>

  <div class="map-container">
    <div id="map"></div>
  </div>

  <%= f.button :submit, class: "btn btn-default" %>
  
<% end %>
</div>
</div>
