<%= render("shared/topnav") %>

<div class="container">

  <p id="notice"></p>
  
  <div class="row index-row">
    <h3>Results found</h3>
  </div>

  <div class="row">
    <% @products.each do |product| %>
    <% if product.person == "buyer" %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="thumbnailimg">
          <%= image_tag product.picture if product.picture.attached? %>
        </div>
        <div class="caption">
          <h3><%= product.name %></h3>
          <div class="condition-container">
            <%= link_to("View Product", product_path(product), class: "btn btn-default") %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= render("shared/footer") %>