<%= render("shared/topnav") %>
<div class="container">
  <div class=".col-xs-12 .col-md-8">
    <div class="product-show">
      <div class="product-box">
        <div class="product-details">

        <h2><%= @product.name %></h2>
        <p class="product-posted-by">Listed by <%= @product.user.name %> | <%= time_ago_in_words(@product.created_at) %> ago.</p>
        <p>Location: <%= @product.location %></p>
        <p>Condition: <%= @product.condition.name %></p>
        <p>Category: <%= @product.category.name %></p>
        <p>Description: <%= @product.description %></p>
        <p>Phone Number: <%= @user.telephone %></p>
        <h3>Price: <%= @product.price %></h3>

        <% if user_signed_in? && current_user != @product.user %>
          <h5>Shipping: <%= number_to_currency(@delivery_cost) %></h5>
          <h5><%= @delivery_time %></h5>
        <% end %>

        <p class="product-posted-by">All currencies are $AUD</p>
        <% if user_signed_in? %>
          <% if @product.user_id == current_user.id %>
            <%= link_to("Edit", edit_product_path(@product), class: "btn btn-default") %>
            <%= link_to("Delete", product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default") %>
          <% else %>
          <button class="btn btn-default"><%= link_to "Interest", smail_product_path %></button>
          <button class="btn btn-default"><%= link_to "Start Chatting", rooms_path %></button><br />

          <% if @product.is_approved == true %>
            <% if @product.reviews.count != 0 %>
              <h2>Reviews</h2>
              <%= render @product.reviews %>
            <% end %>
            <% @status = 0 %>
            <% @product.reviews.each do |k| %>
              <% if k.user_id == current_user.id %>
                <% @status = 1 %>
              <% end %>
            <% end %>
            <% if @status != 1 %>
              <br /><button class="btn btn-default" onclick="myFunction1()">Add Review</button>
            <% end %>
            <div class="mar", id="review">
              <% @review = Review.new %>
              <%= render("reviews/form") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      
        </div>
          <div class="product-image-box">
            <% if @product.picture.attached? %>
              <%= image_tag((@product.picture), class: "image-box")%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <button class="btn btn-default"><%= link_to "Back", products_path %></button>
</div>

<%= render("shared/footer") %>
<script>
  myFunction1()
  function myFunction1() {
    console.log("Hello");
    var x = document.getElementById('review');
    if (x.style.display === 'none') {
      x.style.display = 'block';
    } else {
      x.style.display = 'none';
    }
  }
</script>
