<% @reviewer = User.where(id: review.user_id) %>
<p>Name - <%= @reviewer[0].name %></p>
<p>Rating - <%= review.rating %> star ratings</p>
<p>Reviews - <%= review.comment %></p>

<% if user_signed_in? %>
  <% if review.user_id == current_user.id %>

    <button class="btn btn-default"><%= link_to "Edit", edit_product_review_path(review.product, review) %></button>
    <button class="btn btn-default"><%= link_to "Delete", product_review_path(review.product, review), method: :delete, data: {confirm: "Are you sure?"} %></button>

  <% end %>
<% end %>
